---
import PageHolder from "../layouts/PageHolder.astro";
import Button from "../components/Button.astro";
---

<PageHolder title="Home">
	<div class="flex justify-center items-center mt-64">
		<div class="text-center">
			<h1
				class="text-4xl sm:text-5xl md:text-6xl lg:text-8xl bg-gradient-to-r text-transparent from-indigo-500 to-purple-500 bg-clip-text font-bold"
			>
				OLEKALEKSANDER
			</h1>
			<p class="mt-4 text-3xl text-neutral-30">ts, js, py, java, c#</p>
			<br /><br />
			<Button url="/blog/posts">Blog</Button>&nbsp;
			<Button url="#portfolio">Portfolio</Button>
		</div>
	</div>
</PageHolder>
