<div
		class="max-w-screen-xl px-2 py-12 -mt-28 mx-auto space-y-6 overflow-hidden "
	>
		<p class="mt-2 text-base leading-6 text-center text-neutral-200">
			© 2022 <a
				>OlekAleksander
			</a>
		</p>
	</div>